---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Certificados from "../components/Certificados.astro";
---

<Layout>
  <main>
    <Navbar />
    <Hero />
    <About />
    <Experience />
    <Certificados />
    <Projects />
    <Contact />
  </main>
</Layout>
