---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- About Section -->
  <section id="about" class="py-5 bg-dark">
    <div class="container my-2">
      <div class="row">
        <div class="col-lg-8 mb-4 order-lg-2">
          <h2
            class="container-fluid text-center fst-italic mb-5 fw-bold display-5"
          >
            游닇 Un poco sobre m칤
          </h2>
          <p class="px-3 fs-4 lead">
            Soy desarrollador con inter칠s en el backend y en el desarrollo
            m칩vil. Actualmente estoy cursando el 칰ltimo a침o de Licenciatura en
            Ciencias Inform치ticas y contin칰o form치ndome en nuevas tecnolog칤as y
            buenas pr치cticas de programaci칩n. <br />
            <br />
            Me considero una persona anal칤tica, con facilidad para investigar y buscar
            soluciones confiables a los problemas. Disfruto aprender cosas nuevas
            y asumir desaf칤os que me permitan seguir creciendo tanto personal como
            profesionalmente. <br /><br />
            Soy proactivo, comprometido y siempre busco aportar lo mejor de m칤 en
            cada proyecto en el que participo.
          </p>
        </div>
        <div
          class="col-lg-4 d-flex justify-content-center align-items-center mb-4 order-md-1 px-4"
        >
          <img
            src="/src/assets/profile2.jpeg"
            class="img-fluid rounded-4 w-85 my-img"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .my-img {
    border: none;
    background-color: #5a6e2f;
    box-shadow: 0px 6px 12px #5a6e2f;
  }
</style>
