---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="experience" class="py-5 bg-dark">
    <div class="container container-fluid text-center">
      <h2 class="fst-italic mb-4 fw-bold display-5">
         Experiencia Profesional
      </h2>
    </div>

    <div class="container-md">
      <div class="card border-3 mx-1 mb-3 mt-5">
        <div class="card-body m-3">
          <div
            class="d-flex flex-column justify-content-between align-items-center flex-md-row"
          >
            <h5 class="card-title fw-medium fs-4">Gerente - Induforest PY</h5>
            <p
              class="me-4 mt-1 border border-2 rounded-5 pt-1 pb-1 ps-3 pe-3 fw-semibold"
            >
              Set 2021 - Presente
            </p>
          </div>
          <p class="card-text">
            Responsable del control de calidad e inspecci贸n de productos en el
            谩rea de producci贸n de pisos de madera. Realizo c谩lculos de insumos y
            datos t茅cnicos para optimizar los procesos, asegurando eficiencia y
            reducci贸n de desperdicios. Adem谩s, colaboro en la mejora continua de
            la producci贸n mediante el an谩lisis y seguimiento de indicadores
            clave.
          </p>
        </div>
      </div>
    </div>

    <div class="container-md">
      <div class="card border-3 mx-1 mb-2">
        <div class="card-body m-3">
          <div
            class="d-flex flex-column justify-content-between align-items-center flex-md-row"
          >
            <h5 class="card-title fw-medium fs-4">
              Mentor - CIDIT Desarrollo Joven
            </h5>
            <p
              class="me-4 mt-1 border border-2 rounded-5 pt-1 pb-1 ps-3 pe-3 fw-semibold"
            >
              May 2024 - Dic 2024
            </p>
          </div>
          <p class="card-text">
            Fui estudiante y egresado en el bootcamp de Desarrollo Joven y
            posteriormente mentor en el cual gui茅 y acompa帽茅 en 2 ediciones a
            j贸venes en su aprendizaje de desarrollo web y backend. En
            tecnolog铆as como HTML, CSS, JavaScript, Vue.js, Python, Django y
            Docker, fomentando buenas pr谩cticas de programaci贸n y resoluci贸n de
            problemas.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
